#root {
  padding: 2rem;
}

.img-container {
  border-radius: 12px;
}

.img {
  border-radius: inherit;
}

.card-container {
  place-content: center;
}

.card-main-info {
  position: relative;
}

.card-main-img  {
  border: 3px solid;
  border-color: transparent;
  transition: border-color 1s ease ease-in;
}

.btn-container {
  position: absolute;
  bottom: -1.3rem;
  left: 50%;
  transform: translateX(-50%);
}

.cart-container {
  padding: 1rem;
  margin: 1.5rem;
  border-radius: 8px;
  background-color: #fff;
  align-self: flex-start;
  min-height: 50vh;
  align-content: flex-start;
  margin-inline: auto;
}

.cart-btn, .products-quantity {
  padding-block: 0.5rem;
  width:50%;
  min-width: 9rem;
  gap: 0.5rem;
  border-radius: 100vw;
}

.cart-btn {
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid var(--Rose-500);
  transition: border-color .2s ease-in;
}

.products-quantity {
  background-color: var(--Red);
  align-items: center;
  justify-content: space-between;
  padding-inline: .5rem;
}

.cart-btn .btn-text {
  transition: color 0.2s ease-in;
}

.cart-btn:hover .btn-text {
  color: var(--Red);
}

.cart-btn:hover {
  border-color: var(--Red);
}

.cart-container:has(.cart-empty) {
  grid-template-rows:auto 1fr;
}

.cart-empty {
  align-self: center;
}

.cart-empty-img {
  margin-inline: auto;
}

.cart-item {
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--Rose-100);
  padding-block:0.5rem ;
}

.cart-item-info-empty {
  text-align: center;
}

.close-icon-btn, .add-btn {
  aspect-ratio: 1;
  width: 1.6rem;
  place-items: center;
  border: 1px solid var(--Rose-300);
  border-radius:50%;
  display: grid;
  place-items: center;
}

.confirm-order-btn, .close-btn {
  border-radius: 100vw;
  background-color: var(--Red);
  padding-block: 1rem;
}

.order-total {
  align-items: center;
  justify-content: space-between;
}

.carbon-free-msg {
  padding: 1rem;
  background-color: var(--Rose-50);
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.dialog {
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  padding: 1rem; 
  width: 100%;
  max-width: 400px;
  padding-block: 1rem;
  border-radius: 12px;
  border: 1px solid transparent;
  /* scrollbar-width: thin;   */
}

/* width */
.dialog::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.dialog::-webkit-scrollbar-track { 
  border-radius: 20px;
}
 
/* Handle */
.dialog::-webkit-scrollbar-thumb {
  background: var(--Rose-300); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--Rose-500); 
}

.dialog .titles-container h2 {
  max-width: 10ch;
  line-height: 1.2;
}

::backdrop {
  background-color: hsl(14 65% 9% / .5);
}

@media screen and (min-width:48em) {

  body {
    font-size: 14px;
  }

  #root {
    grid-template-columns: 1fr 24rem;
  }

  .cards-container {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }

  .dialog .titles-container h2 {
    max-width: 25ch;
  }

  .cart-items-container {
    --gap:1rem;
  }
  
  .dialog .cart-items-container {
    background-color: var(--Rose-50);
    padding: 1rem;
    border-radius: 12px;
  }

}

@media screen and (min-width:70em) {

    .cards-container {
      grid-template-columns: repeat(3, 1fr);
    }

}